<link type="text/css" href='http://sailsjs.org/styles/fonts.css' rel='stylesheet'/>
<link type="text/css" href='../css/materialize.min.css' rel='stylesheet'/>
<link type="text/css" href='../css/comet.css' rel='stylesheet'/>
<link type="text/css" href='../css/house.css' rel='stylesheet'/>
<script src="https://code.jquery.com/jquery-2.1.3.min.js" type="text/javascript"> </script>
<script src="../js/materialize.min.js" type="text/javascript"> </script>
<script type="text/javascript">
    function getSensors(){
        $.get('../sensors',function(d){
            for(var i in d){
                if(d[i].name == 'time'){
                    //$('#globaltime').val(String(d[i]['time']));
                    continue;
                }
                $('#'+d[i].name+'T').text(String(d[i].temp) + 'ºC');
                $('#'+d[i].name+'L').text(String((d[i].light*100)) + '%');
            }
            getAppl();
        });
    }

    function getAppl(){
        $.get('../rooms',function(d){
            for(var i in d){
                if(d[i].appl.heat.state == 1){
                    $('#'+d[i].name+'H').css('color','#B83C3C!important');
                } else {
                    $('#'+d[i].name+'H').css('color','#DDD!important');
                }

                if(d[i].appl.light.state == 1){
                    $('#'+d[i].name).css('background-color','#F7FB9E!important');
                } else {
                    $('#'+d[i].name).css('background-color','#EEE!important');
                }
            }
        });
    }

    function listen(){
        console.log('getting sensor vals');
        console.log('connecting...');
        io.socket.get("/sensors/updates");
        io.socket.on('connect',function(message){
            console.log('connected!');
            io.socket.on('message',function(message){
                console.log(JSON.stringify(message));
                getSensors();
            });
        });
    }
</script>
<body onload="listen()">
<div id="cont">
    <div class="room" id="bedroom1">
        <div style="height: 80px"></div>
        <span class="roomName">Bedroom1</span><br>
        <span id="bedroom1T" class="icon-temperatire">25ºC</span><br>
        <span id="bedroom1L" class="icon-lightbulb">40%</span><br>
        <span id="bedroom1H" class="icon-fire-station"></span>
    </div>
    <div class="room" id="bedroom2">
        <div style="height: 45px"></div>
        <span class="roomName">Bedroom2</span><br>
        <span id="bedroom2T" class="icon-temperatire">25ºC</span><br>
        <span id="bedroom2L" class="icon-lightbulb">40%</span><br>
        <span id="bedroom2H" class="icon-fire-station"></span>
    </div>
    <div class="room" id="bathroom">
        <div style="height: 10px"></div>
        <span class="roomName">Bathroom</span><br>
        <span id="bathroomT" class="icon-temperatire">25ºC</span><br>
        <span id="bathroomL" class="icon-lightbulb">40%</span><br>
        <span id="bathroomH" class="icon-fire-station"></span>
    </div>
    <div class="room" id="corridor">
        <div style="height: 225px"></div>
        <span class="roomName">Hall</span><br>
        <span id="corridorT" class="icon-temperatire">25ºC</span> 
        <span id="corridorL" class="icon-lightbulb">40%</span> 
        <span id="corridorH" class="icon-fire-station"></span>
    </div>
    <div class="room" id="kitchen">
        <div style="height: 5px"></div>
        <span class="roomName">Kitchen</span><br>
        <span id="kitchenT" class="icon-temperatire">25ºC</span><br>
        <span id="kitchenL" class="icon-lightbulb">40%</span><br>
        <span id="kitchenH" class="icon-fire-station"></span>
    </div>
    <div class="room" id="livingroom">
        <div style="height: 180px"></div>
        <span class="roomName">LivingRoom</span><br>
        <span id="livingroomT" class="icon-temperatire">25ºC</span><br>
        <span id="livingroomL" class="icon-lightbulb">40%</span><br>
        <span id="livingroomH" class="icon-fire-station"></span>
    </div>
</div>

<div id="ruleGen">
    
</div>

<script type="text/javascript">
    setTimeout(function(){
        $('#cont').animate({
            opacity: 1,
            marginTop: "50px"
        },300);
        getSensors();
    },400);

    function toggleLights(room){
        $('#'+room).toggleClass('roomOn');
    }

    $('.room').click(function(){
        $(this).toggleClass('roomOn');
    })
</script>
</body>
