<html>
	<head>
		Rules selector
	</head>
	<body>
		<p>
			Temperature now: 
		</p>	
		<p>
			Time now: 
		</p>	
		<p>
			Light now: 
		</p>
		<div id="header">
			<h1>Rules S_____</h1>
		</div>
		<div id="oldSettings">
		Temperature now:<br>
		#insert temp here
		
		Light now:<br>
		#insert light here
		
		Time now:<br>
		#insert time here
		</div>

		<div id="section">
		<h1>Room</h1>

	
		<select id="check">
		  <option value="time">Time</option>
		  <option value="light">Light</option>
		  <option value="temp">Temperature</option>
		</select>

		MinimumValue:<br>
		<input type="text" name="Minimum Value" value="Mickey"><br>
		MaximumValue:<br>
		<input type="text" name="Maximum Value" value="Mouse">
		Command:<br>
		<input type="button" value="Submit">
		</div>

		<div id="footer">
			Copyright © team C.O.M.E.T
		</div>

	</body>	
</html>