<html>
	<head>
		<link rel="stylesheet" href="wtf2.css">
		<style>
			#header {
				background-color:black;
				color:white;
				text-align:center;
				padding:5px;
			}
			#nav {
				line-height:30px;
				background-color:#eeeeee;
				height:300px;
				width:100px;
				float:left;
				padding:5px;	      
			}
			#section {
				width:350px;
				float:left;
				padding:10px;	 	 
			}
			#footer {
				background-color:black;
				color:white;
				clear:both;
				text-align:center;
			   padding:5px;	 	 
			}
		</style>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
				
	</head>
	<body>
		<div class="container">

		<div class="jumbotron">
		  <h1>iHouse Rule Setter</h1> 
		  <p>Welcome home!<p> 
		</div>
		
		
		<div id="blah">
		<div id="left">
			<h4>Choose element:</h4>
		    <ul class="general_menu">

			<li id="temperatureIcon" onClick="pageTracker._trackPageview('/menu/sobre');"><a href="?pg=sobre" title="Temperature" class="mn_sobre" onClick="return false;">Temperature</a></li>

			<li id="lightIcon" onClick="pageTracker._trackPageview('/menu/habilidades');"><a href="?pg=habilidades" title="Light" class="mn_habilidades" onClick="return false;">Light</a></li>

     
			<li id="timeIcon" onClick="pageTracker._trackPageview('/menu/clientes');"><a href="?pg=clientes" title="Time" class="mn_clientes" onClick="return false;">Time</a></li>

		</ul>
		
		
		
	
	
		Temperature now:<br>
		#insert temp here<br>
		
		Light now:<br>
		#insert light here<br>
		
		Time now:<br>
		#insert time here<br>
		</div> 
		
		<div id="right">
			<section>
				<h1>Room</h1>
				
				Select room:<br>
				<select id="room">
				</select>
				<br><br>
				Select variable:<br>
				<select id="check">
				  <option value="time">Time</option>
				  <option value="light">Light</option>
				  <option value="temp">Temperature</option>
				</select>
				<br>
				<br>Set minimum value:<br>
				<input type="text" name="MinimumValue" value="0"><br><br>
				Set maximum value:<br>
				<input type="text" name="MaximumValue" value="1"><br>
				Command:<br>
				<input type="button" value="Submit">
				</section>
		
		</div>


		</div>
		</div>
	</body>	
</html>