<link type="text/css" href="../../css/ruleGen.css" rel="stylesheet">
<link type="text/css" href='../../css/materialize.min.css' rel='stylesheet'/>
<link type="text/css" href='../../css/comet.css' rel='stylesheet'/>
<script src="https://code.jquery.com/jquery-2.1.3.min.js" type="text/javascript"> </script>
<script src="js/materialize.min.js" type="text/javascript"> </script>
<body>
<div id="main">
<div id="cont">
	<div id="headBar">
		<span class="icon-flash"> Rules</span>
	</div>
	<div style="clear:both"></div>
	<a class="btn-floating btn-large waves-effect waves-light teal" style="float: right; margin: -30px 20px -30px 0" href="javascript:toggleTray()"><i class="mdi-content-add"></i></a>
</div>
<div id="cont2">
	<div id="headBar">
		Create A Rule
	</div>
	<div style="clear:both"></div>
	<div class="row">
		<form class="col s12">
		    <div class="row">
		    	<div class="input-field col s12">
	        		<label>Room</label>
					  <select name="room" style="margin: 40px 0 -30px 0" class="browser-default">
					    <option value="" disabled selected>Choose your option</option>
					    <option value="livingroom">livingroom</option>
					    <option value="bedroom1">bedroom1</option>
					    <option value="bedroom2">bedroom2</option>
					    <option value="bathroom">bathroom</option>
					    <option value="kitchen">kitchen</option>
					    <option value="corridor">corridor</option>
					  </select>
				</div>
		    </div>
		    <div class="row">
		    	<div class="input-field col s12">
	        		<label>Checks:</label>
					  <select name="checks" style="margin: 40px 0 -10px 0" class="browser-default">
					    <option value="" disabled selected>Choose your option</option>
					    <option value="time">time</option>
				  		<option value="light">light</option>
				  		<option value="temp">temperature</option>
					  </select>
				</div>
		    </div>
		    <div class="row">
		        <div class="input-field col s6">
		        	<input id="min" type="number" class="validate">
		        	<label for="min">Min</label>
		        </div>
		        <div class="input-field col s6">
		        	<input id="max" type="number" class="validate">
		        	<label for="max">Max</label>
		        </div>
		    </div>
		    <div class="row">
		        <div class="input-field col s12">
		        	<input id="cmd" type="text" class="validate">
		        	<label for="cmd">Command</label>
		        </div>
		    </div>
		    <div class="row">
		        <div class="input-field col s8">

		        </div>
		        <div class="input-field col s4">
		        	<a class="waves-effect waves-red btn">Save</a>
		        </div>
		    </div>
		</form>
	</div>
</div>
</div>
<!--<div class="container">

	<div class="jumbotron">
	  <h1>iHouse Rule Setter</h1> 
	  <p>Welcome home!<p> 
	</div>

	<div id="blah">
		<div id="left">
			<h4>Choose element:</h4>
		    <ul class="general_menu">
				<li id="temperatureIcon" onClick="pageTracker._trackPageview('/menu/sobre');"><a href="?pg=sobre" title="Temperature" class="mn_sobre" onClick="return false;">Temperature</a></li>
				<li id="lightIcon" onClick="pageTracker._trackPageview('/menu/habilidades');"><a href="?pg=habilidades" title="Light" class="mn_habilidades" onClick="return false;">Light</a></li>
				<li id="timeIcon" onClick="pageTracker._trackPageview('/menu/clientes');"><a href="?pg=clientes" title="Time" class="mn_clientes" onClick="return false;">Time</a></li>
			</ul>

			Temperature now:<br>
			#insert temp here<br>

			Light now:<br>
			#insert light here<br>

			Time now:<br>
			#insert time here<br>
		</div> 

		<div id="right">
			<section>
				<h1>Room</h1>
				
				Select room:<br>
				<select id="room">
				</select>
				<br><br>
				Select variable:<br>
				<select id="check">
				  <option value="time">Time</option>
				  <option value="light">Light</option>
				  <option value="temp">Temperature</option>
				</select>
				<br>
				<br>Set minimum value:<br>
				<input type="text" name="MinimumValue" value="0"><br><br>
				Set maximum value:<br>
				<input type="text" name="MaximumValue" value="1"><br>
				Command:<br>
				<input type="button" value="Submit">
			</section>
		</div>
	</div>
</div>-->
<script type="text/javascript">
	var trayOpen = false;
	function toggleTray(){
		if(trayOpen){
			$('#cont2').animate({
				width: '0px'
			},400);
			$('#main').animate({
				marginLeft: '450px'
			},400);
		} else {
			$('#cont2').animate({
				width: '500px'
			},400);
			$('#main').animate({
				marginLeft: '200px'
			},400);
		}
		trayOpen = !trayOpen;
	}

	function addRule(){
		var room = $('select[name=room]').val();
		var checks = $('select[name=checks]').val();
		var min = $('#min').val();
		var max = $('#max').val();
		var cmd = $('#cmd').val().split(' ');
		if(cmd.length != 3){
			return alert('command must be <room> <appliance> <state>');
		}
		cmd = [cmd[0],cmd[1],parseFloat(cmd[2])];
		cmdStr = JSON.stringify(cmd);

		$.get('../../rules/create?room='+room+'&checks='+checks+'&min='+min+'&max='+max+'&cmd='+cmdStr, function(d){
			alert(JSON.stringify(d));
		});

	}
		
</script>
</body>