<html>
	<head>
		<style>
				#header {
					background-color:black;
					color:white;
					text-align:center;
					padding:5px;
				}
				#nav {
					line-height:30px;
					background-color:#eeeeee;
					height:300px;
					width:100px;
					float:left;
					padding:5px;	      
				}
				#section {
					width:350px;
					float:left;
					padding:10px;	 	 
				}
				#footer {
					background-color:black;
					color:white;
					clear:both;
					text-align:center;
				   padding:5px;	 	 
				}
				</style>
	</head>
	<body>
		<header>
			<h1>Rules S_____</h1>
		</header>
		<nav>
		<p>
			Temperature now: 
		</p>	
		<p>
			Time now: 
		</p>	
		<p>
			Light now: 
		</p>
		</nav>
		<section>
		<h1>WTF</h1>
		Temperature now:<br>
		#insert temp here
		
		Light now:<br>
		#insert light here
		
		Time now:<br>
		#insert time here
		</div>

		<h1>Room</h1>

	
		<select id="check">
		  <option value="time">Time</option>
		  <option value="light">Light</option>
		  <option value="temp">Temperature</option>
		</select>

		MinimumValue:<br>
		<input type="text" name="Minimum Value" value="Mickey"><br>
		MaximumValue:<br>
		<input type="text" name="Maximum Value" value="Mouse">
		Command:<br>
		<input type="button" value="Submit">
		</section>

		<footer>
			Copyright © team C.O.M.E.T
		</footer>

	</body>	
</html>