
.icon-temperatire:before { content: '\e800'; } /* '' */
.icon-lightbulb:before { content: '\e801'; } /* '' */
.icon-fire-station:before { content: '\e802'; } /* '' */
.icon-flash:before { content: '\e803'; } /* '' */